<a href="https://colab.research.google.com/github/AlexanderShubin76/Python/blob/master/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D1%8F%D1%8F%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%20%D0%BF%D0%BE%20%D0%B0%D0%BB%D0%B0%D0%BC%D0%B0%D0%B7%D0%B0%D0%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Домашнее задание. Работа с базой данной Diamonds**

In [2]:
# Подгружаем библиотеку pandas
import pandas as pd

In [3]:
# Прочтем файл .csv с помощью библиотеки pandas
df = pd.read_csv('/content/drive/MyDrive/diamonds.csv')

In [24]:
# 1. Напишите программу Pandas для чтения CSV-файла из указанного источника и печати первых 5 строк.
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,Cut - Color
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal, E"
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium, E"
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good, E"
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium, I"
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good, J"

In [10]:
# 2. Напишите программу Pandas, чтобы выбрать серию из бриллиантов DataFrame. Распечатайте содержание серии.
df['carat']

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [15]:
# 3. Напишите программу Pandas для создания новой серии «Качество? Цвет»
# (используйте обозначение в скобках для определения имени серии) бриллианта DataFrame.
df['Cut - color'] = df.cut + ', ' + df.color
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,Cut - Color
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,"Ideal, E"
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,"Premium, E"
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,"Good, E"
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,"Premium, I"
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,"Good, J"

In [30]:
# 4. Напишите программу Pandas, чтобы найти количество строк и столбцов и тип данных для каждого столбца алмазов. 
df = df.drop(columns=['Cut - Color'])
print(f'{df.shape}\n')
print(df.dtypes)

(53940, 11)

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

In [32]:
# 5. Напишите программу Pandas для суммирования только столбцов «объект» в бриллианте Dataframe. 
df.describe(include=['object'])

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [4]:
# 6. Напишите программу Pandas для сортировки Серии цен в порядке убывания (возвращает Серии) бриллиантов Датафрейм.
df.price.sort_values(ascending=False)

27749    18823
27748    18818
27747    18806
27746    18804
27745    18803
         ...
4          335
3          334
2          327
1          326
0          326
Name: price, Length: 53940, dtype: int64

In [6]:
# 7. Напишите программу Pandas, чтобы отфильтровать строки DataFrame так, чтобы вес в каратах составлял не менее 0,3.
df[df['carat'] >= 0.3]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73
13,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71
15,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68
16,17,0.30,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [9]:
# Напишите программу Pandas, чтобы найти детали бриллиантов, где длина> 5, ширина> 5 и глубина> 5.
df[(df['x'] >= 5) & (df['y'] >= 5) & (df['z'] >= 5)]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
11778,11779,1.83,Fair,J,I1,70.0,58.0,5083,7.34,7.28,5.12
13002,13003,2.14,Fair,J,I1,69.4,57.0,5405,7.74,7.70,5.36
13118,13119,2.15,Fair,J,I1,65.5,57.0,5430,8.01,7.95,5.23
13562,13563,1.96,Fair,F,I1,66.6,60.0,5554,7.59,7.56,5.04
13757,13758,2.22,Fair,J,I1,66.7,56.0,5607,8.04,8.02,5.36
...,...,...,...,...,...,...,...,...,...,...,...
27748,27749,2.00,Very Good,G,SI1,63.5,56.0,18818,7.90,7.97,5.04
27749,27750,2.29,Premium,I,VS2,60.8,60.0,18823,8.50,8.47,5.16
48410,48411,0.51,Very Good,E,VS1,61.8,54.7,1970,5.12,5.15,31.80
49189,49190,0.51,Ideal,E,VS1,61.8,55.0,2075,5.15,31.80,5.12
49905,49906,0.50,Very Good,G,VVS1,63.7,58.0,2180,5.01,5.04,5.06

In [12]:
# 10. Напишите программу Pandas, чтобы найти бриллианты премиум-класса или идеальные.
df[(df['cut'] == 'Premium') | (df['cut'] == 'Ideal')]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46
12,13,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33
...,...,...,...,...,...,...,...,...,...,...,...
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [18]:
# 11. Напишите программу Pandas, чтобы подсчитать, сколько раз встречается каждое значение в бриллиантовой серии DataFrame.
df['cut'].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [19]:
# 12. Напишите программу Pandas для подсчета количества пропущенных значений в каждой серии бриллиантов DataFrame.
df.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
price         0
x             0
y             0
z             0
dtype: int64

In [25]:
# 13. Напишите программу Pandas для подсчета повторяющихся рядов алмазов в DataFrame.
print(f'Первоначальная таблица имеет (рядов, столбцов): {df.shape}')
print(f'Количество продублированных рядов составляет: {df.duplicated().sum()}')

Первоначальная таблица имеет (рядов, столбцов): (53940, 11)
Количество продублированных рядов составляет: 0

In [33]:
# 14. Напишите программу Pandas для чтения строк с 2 по 5 (включительно), столбцов в позициях с 0 по 2 (без учета) алмазов в DataFrame.
df.iloc[2:6, 0:3]

   Unnamed: 0  carat        cut
2           3   0.23       Good
3           4   0.29    Premium
4           5   0.31       Good
5           6   0.24  Very Good

In [36]:
# 15. Напишите программу Pandas для чтения строк 0, 5, 7 и всех столбцов алмазов DataFrame.
df.iloc[[0, 5, 7], :]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53

In [37]:
# 16. Напишите программу Pandas для расчета различных сводных статистических данных огранки серии бриллиантов DataFrame.
df.carat.describe()

count    53940.000000
mean         0.797940
std          0.474011
min          0.200000
25%          0.400000
50%          0.700000
75%          1.040000
max          5.010000
Name: carat, dtype: float64